/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: 'Lato', sans-serif;
}
/* CLASSI GENERICHE */
.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-a-center{
    display: flex;
    align-items: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}



/* HEADER */
header{
    height: 70px;
    width: 100vw;
    background-color: #222222;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.header-option{
    flex-direction: column;
    padding: 0 10px;
    font-size: 1.5rem;
}

.header-option > p{
    font-size: 0.8rem;
    padding-top: 7px;
}

 header > nav:nth-child(2) div:nth-child(4) > i{
    color: #4bc800;
 }

 button.button-end-meeting{
    color: #f40316;
    height: 100%;
    padding: 0 15px;
    border-radius: 0px;
 }
div.scroll-option{
    font-size: 1rem;
    text-decoration: solid;
}

/* MAIN */
.participant-vision{
    height: 135px;
    width: 230px;
    margin: 3px;
    position: relative;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    /* padding: 140px 85px; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow-y: auto; */
}

.online-users{
    height: calc(100% - 140px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}

.participant-name{
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
}

/* FOOTER */
footer{
    height: 70px;
    width: 100vw;
    background-color: #000000;
    position: absolute;
    top: 0;
}
.button-speaker-view,
.button-zoom{
    
    padding: 0 10px;
}

footer > nav{
    position: absolute;
    right: 10px;
}

/* CLASSI SPECIFICHE */
.button{
    background-color: #4a4a4a;
    padding: 0.2rem;
    border-radius: 5px;
    color: white;
}